*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colorSwatchContainer {
  display: flex;
}

.colorSwatch {
  margin: 0.5rem;
  padding: 0;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.chatString {
  max-width: 50%;
  word-wrap: break-word;
  font-family: monospace;
}

.clear-button {
  color: #fff;
  background-color: teal;
  padding: 4px 12px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  vertical-align: middle;
  margin: 10px;
}
